   
  <div class="col-sm-4" id="articleContainer"> 
    <a href="/article/{{this._id}}"  sl-processed="1">
      <img src="{{this.photo}}" alt="Review: Game of Thrones - 'The Long Night'"  width='350' height="350"> 
      <h3 class="caption" id="titleNew">{{this.title}}</h3>    
    </a>
  </div>

  


   