
  <div class="card">
    <a href="/article/{{this._id}}" class="thumb" sl-processed="1">
      <img src="{{this.photo}}" alt="Review: Game of Thrones - 'The Long Night'" class="thumb"  width='550'> 
      <h3 class="caption">{{this.title}}</h3>
    </a>
  </div>
  
