<h3>Clan Ranking</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Clan Name</th>
      <th scope="col">Level</th>
      <th scope="col">Members</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Events</th>
      <th scope="col">Hosts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td>4.5</td>
      <td>125</td>
      <td>34</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td>4.5</td>
      <td>125</td>
      <td>34</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td>4.5</td>
      <td>125</td>
      <td>34</td>
      <td>2</td>
    </tr>
  </tbody>
</table>