<a href="/home/{{this._id}}" class="thumb" sl-processed="1">
  <div class="card">
    <img src="{{this.photo}}" class="card-img-top" alt="..." height="208">
    <div class="card-body">
      <h5 class="card-title-article">{{this.title}}</h5>
    </div> 
  </div> 
</a>


