<h3>Player Ranking</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Level</th>
      <th scope="col">Friends</th>
      <th scope="col">Clans</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Events</th>
      <th scope="col">Hosts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td><div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clans
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            <div class="w-100"></div>
          </div></td>
      <td>4.5</td>
      <td>432</td>
      <td>34</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td><div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clans
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            <div class="w-100"></div>
          </div></td>
      <td>4.5</td>
      <td>432</td>
      <td>34</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>99</td>
      <td>125</td>
      <td><div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clans
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            <div class="w-100"></div>
          </div></td>
      <td>4.5</td>
      <td>432</td>
      <td>34</td>
      <td>2</td>
    </tr>
  </tbody>
</table>