<div class="col-md-12">
  <article>
    <h5>{{this.title}}</h5> 
    <div class = "row comments">
              <div class="col-md-1" id="commentPhoto">
                <img src="{{this.photo}}" width="40" height="40" class="d-inline-block align-top" alt="guestPhoto">
              </div>
              <div class="col-md-11" id="commentGuest">
                <p>{{this.text}}</p>
              </div> 
            </div> 
  </article>
</div>         