<div class="container" id="articleContainer">
  <div class="row">
    <div class="col-md-12" id="head"></div>
  </div>
  <div class="row">
    <div class="col-md-4" id="principal">
      <div class="row">            
        <div class="col-md-12">
          <img src="{{article.photo}}" alt="Review: Game of Thrones - 'The Long Night'" class="thumb" width="350" height ="150"> 
        </div>        
      </div>
    </div>
    <div class="col-md-8" id="lateral">
      <div class="row">
        <div class="col-md-12" id="article">
          <h2>{{article.title}}</h2>
          <aside>          
            <h6>Writen by USERNAME</h6>            
            <p>{{article.text}}</p> 
            
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="articleContainer">
  <div class="row">
    <div class="col-md-12" id="head"></div>
    <h2>Comments</h2>
  </div>  
    <div class="row commentsArticle">                       
      <h5>USERNAME</h5>
        <div class = "row commentsArticle">
          <div class="col-md-1" id="commentPhoto">
            <img src="/images/logo-ironhack-blue.png" width="40" height="40" class="d-inline-block align-top" alt="guestPhoto">
          </div>
          <div class="col-md-11" id="commentsArticle">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio dignissimos nisi assumenda voluptas similique, esse, vel, fugiat rerum, natus neque perspiciatis accusamus error! Eaque, nobis, et! Reprehenderit, cumque, distinctio.</p>
          </div> 
        </div>       
    </div>
    <div class="row commentsArticle">                       
      <h5>USERNAME</h5>
        <div class = "row commentsArticle">
          <div class="col-md-1" id="commentPhoto">
            <img src="/images/logo-ironhack-blue.png" width="40" height="40" class="d-inline-block align-top" alt="guestPhoto">
          </div>
          <div class="col-md-11" id="commentsArticle">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio dignissimos nisi assumenda voluptas similique, esse, vel, fugiat rerum, natus neque perspiciatis accusamus error! Eaque, nobis, et! Reprehenderit, cumque, distinctio.</p>
          </div> 
        </div>       
    </div>
</div>  