<div class="container " id="homeContainer">  
  <div class="card-deck">
    <div class="card">
      <img src="{{event.photo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">{{event.title}}</h3>
        <h5>Event Rate: {{event.rate}}</h5>
        <p class="card-text">OUR OLD SCHOOL GAME NIGHT IS HERE!! we invite you to jin us to our monthly night to play old 64bits games and dinner with us. We will meet at Arthur's house next saturday at 20 oclock. Don't forget to bring your drinks!  </p>
        <button type="submit" class="btn btn-primary" id='joinbtn'>Join in!</button>       
      </div>
    </div>
    <div class="card">      
      <div class="card-body">
        <h5 class="card-title">MAP</h5>        
      </div>
    </div> 
  </div> 
</div>  
