<nav class="navbar navbar-light " style="background-color: red;">
<a class="navbar-brand" href="/">
    <img src="/images/logo-ironhack-blue.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GAMMUNITY
  </a> 
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rankings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">USERNAME</a>
    </li>  
    <li class="nav-item">
      <img src="/images/logo-ironhack-blue.png" width="30" height="30" class="d-inline-block align-top" alt="">

    </li>    
  </ul>
</nav>  

<div class="container" id="homeContainer">
      <div class="row">
        <div class="col-md-12" id="head"></div>
      </div>
      <div class="row">
        <div class="col-md-8" id="principal">
          <div class="row">            
            <div class="col-md-12">
              <article>
                <h2>EVENT 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
              </article>
            </div>
            <div class="col-md-12">
              <article>
                <h2>EVENT 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
              </article>
            </div>
            <div class="col-md-12">
              <article>
                <h2>EVENT 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
              </article>
            </div>           
          </div>
        </div>
        <div class="col-md-4" id="lateral">
          <div class="row">
            <div class="col-md-12" id="anuncios">
              <aside>
                <h2>Aside</h2>
                <br>
                <h4>Titulo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio dignissimos nisi assumenda voluptas similique, esse, vel, fugiat rerum, natus neque perspiciatis accusamus error! Eaque, nobis, et! Reprehenderit, cumque, distinctio.</p>
                <br>
                <h4>Titulo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi optio dignissimos nisi assumenda voluptas similique, esse, vel, fugiat rerum, natus neque perspiciatis accusamus error! Eaque, nobis, et! Reprehenderit, cumque, distinctio.</p>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>

<footer class="page-footer font-small" style="background-color: red;">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> GAMMUNITY</a>
  </div>
</footer>

