<nav class="navbar navbar-light " style="background-color: red;">
<a class="navbar-brand" href="/">
    <img src="/images/logo-ironhack-blue.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GAMMUNITY
  </a> 
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rankings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sign-in">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sing Up</a>
    </li>    
  </ul>
</nav>  

{{>welcome }}

<footer class="page-footer font-small" style="background-color: red;">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> GAMMUNITY</a>
  </div>
</footer>

