<div id="container-home">
  <div id="logo-home">
    <a  id="errorImage" href="/sign-in">
      <h2>Sorry!! try to login again!</h2>
      <img src="/images/errorpic.png" height="400" width="400">    
    </a>
  </div>  
</div>