<nav class="navbar navbar-light " style="background-color: red;">
<a class="navbar-brand" href="/">
    <img src="/images/logo-ironhack-blue.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GAMMUNITY
  </a> 
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rankings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sign-in">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sing Up</a>
    </li>    
  </ul>
</nav>  
<div id="container-home">
  <div class="card" style="width: 18rem;">
    <form>
    <div class="form-group">
      <a href="/auth/gmail" class="SocialLogIn">Login With Gmail</a>
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
  </div>
</div>
<footer class="page-footer font-small" style="background-color: red;">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> GAMMUNITY</a>
  </div>
</footer>
