body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container-home{
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
}
.btn-primary{
  margin: 10px 100px; 
}
.SocialLogIn{
  display: block;
  height: 30px;
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  text-align: center;
  color: white;
  background-color: rgb(78, 107, 204);
  padding : 4px;
  margin-bottom: 10px; 
}
#homeContainer{
  margin: 5% auto;
}
#profileContainer{
  margin: 5% auto;
}

#profileBottomContainer{
  margin: 2% auto;
}

.comments{
  border: 1px solid red;
  margin: 0 auto 2% auto;
  margin: 2% auto;
}

#commentPhoto > img{
  margin: 1px solid red;
}
.dropdown{
  margin: 10px auto;
}
.btnPicture{
  background-color: rgb(54, 69, 202);
  color: white;
}

.thumb{
  height: 600px;
}

#articleContainer{
  margin: 5% auto;
}

.commentsArticle{
  margin: 0 auto 1% auto;
}

#article{
  border: 1px solid red;
}

.nav-link{
  color: white;
}

.error-msg {
  color: red;
  padding: 0 50px;
}